
.producto-det-row2-info{
    font-weight: 400;
}
.producto-det-row2-det{
    .titulo{
        font-size: 15px;
        color: #2fb5d2;
        text-decoration: none;
        padding: 0;
        margin: 0;        
        margin-bottom: 1em;
        span{
            padding: .5em 1em;    
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background-color: #2fb5d2;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}