.login-form {
    width: 100%;
    background-color: transparent;
    h1 {
        font-size: 22px;
        line-height: 24px;
    }
    .wrapper {
        display: block;
        padding: 1.8rem 1.5rem;
        max-width: 640px;
        margin: 2rem auto 0;
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
        background: #fff;
        div {
            display: flex;
            font-size: 14px;
            label {
                padding-right: 1rem;
            }
            input[type="text"] {
                background: #f1f1f1;
                color: #7a7a7a;
                border: 1px solid rgba(0, 0, 0, .25);
                padding: .5rem 1rem;
            }
            input[type="password"] {
                background: #f1f1f1;
                color: #7a7a7a;
                border: 1px solid rgba(0, 0, 0, .25);
                padding: .5rem 1rem;
            }
        }
        .action {
            width: 100%;
            display: block;
            @media ($md) {
                display: flex;
                width: 30%;
            }
        }
    }
}