$xs: ('min-width: 365px');//landscape phones
$sm: ('min-width: 576px');//landscape phones
$md: ('min-width: 768px');//tablet
$lg: ('min-width: 992px');//desktop
$xl: ('min-width: 1200px');//large desktop
$xxl:('min-width:  1280px');//xlarge desktop
$white: #fff;

