:root {
    --color-font7: #2fb5d2;
}

.desc-row-ref {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%;
    font-weight: 400;
    background: #f1f1f1;
    padding: .625rem;
    margin-right: .625rem;
    min-height: 2.5rem;
    word-break: normal;
    text-transform: capitalize;
    margin-bottom: .5rem;
}

@media (min-width: 200px) and (max-width: 680px) {
    .producto-det-row2-det .titulo span {
        width: 80%;
    }
    .producto-det-row2-det .titulo div {
        width: 40%;
    }
}

.prod-card-row .div-row-1 {
    color: var(--color-font-default);
    width: 45%;
}

.prod-card-row .div-row-2 {
    width: 5%;
}

.prod-card-row .div-row-1 label {
    width: 100%;
}

.prod-card-row .div-row-2 label {
    width: 100%;
}

.prod-img-search-card td button {
    padding: 0.3em;
    font-size: 12px;
}

.prod-card-row-cat {
    width: 100%;
    display: flex;
}

.prod-card-row-cat label {
    margin-right: 1em;
}

.prod-card-row-cat select {
    margin-right: 1em;
    width: 40%;
}

.prod-card-row-cat button {
    margin-right: 1em;
}

.prod-card-row-cat input {
    margin-right: 1em;
    width: 120px;
}

.prod-img-search-row .prod-img-search-row {
    width: 100%;
    box-shadow: none;
    padding: 0em;
    margin: 0em;
}

.prod-img-search-table {
    box-shadow: none;
    border-radius: none;
}

.carousel .thumbs-wrapper {
    margin: 0 !important;
}

.prod-det-carrousel .carousel .slide img {
    width: 80%;
}

.prod-det-carrousel .carousel ul {
    margin-top: 1em;
}

.producto-card-carrousel .carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid var( --color-font2);
}

.producto-card-carrousel .carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid var( --color-font2) !important;
}

.prod-det-carrousel .carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid var( --color-font2);
}

.prod-det-carrousel .carousel .thumb.selected,
.carousel .thumb:hover {
    border: 3px solid var( --color-font2) !important;
}

.desc-label {
    width: 50% !important;
}

.thumb img {
    min-width: 70px !important;
    min-height: 64px !important;
}

.carousel .thumb {
    padding: 0px!important;
    margin-right: 0px !important;
}

.prod-det-carrousel .thumbs-wrapper ul {
    padding-inline-start: 0px;
    display: flex;
    justify-content: center;
}

.form-pago-menu span {
    z-index: 1;
    font-size: 12px;
}

.producto-card-modal {
    display: flex;
    width: 100%;
}

.producto-card-modal-column1 {
    width: 60%;
}

.producto-card-modal-column2 {
    width: 39%;
}

.producto-card-modal-column2 {
    display: flex;
    flex-direction: column;
}

.producto-card-modal-accion {
    display: flex;
    flex-direction: row;
}

.producto-card-modal-accion input {
    width: 20%;
    margin-right: 0.5em;
}

.producto-card-modal-nombre {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 1em;
}

.producto-card-modal-cantidad {
    font-weight: bold;
    margin-bottom: 1em;
}

.producto-card-modal-precio {
    color: var(--color-font7);
    font-weight: 700;
    margin-bottom: 1em;
}

.producto-card-carrousel .carousel .slide img {
    width: 75%;
    height: 315px;
    margin: 0em;
    object-fit: scale-down;
}

.btn-social {
    margin: 0.5em;
    background-color: var(--color-font3);
    border-radius: 100%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40px;
}

.producto-det-col1-data {
    margin-left: 1em;
    width: 40%;
}