/*Josue 19/05/2021 cambios de la reunion Nroº1*/

@font-face {
    font-family: EurostileExtended;
    src: url(EUROSTILE-BOLDEXTENDEDTWO.OTF);
}

@font-face {
    font-family: ArialTFF;
    src: url(ARIAL.TTF);
}

.header-nav-banner {
    padding: 0.1em;
    background-color: #0000ff;
    color: var(--color-font3);
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
    height: 45px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.label-disable {
    color: var(--color-font-disable);
}

.label-moneda {
    width: 65px;
    text-align: right;
}

.registrar-direccion-card {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding: 0.1em;
    width: 48%;
    background: var(--color-background-white);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    flex-direction: column;
}

.card-row-direccion {
    padding: 0;
    margin: 0.1em !important;
    margin-left: 0.8em !important;
}

.direccion-card {
    @media (min-width: 0px) and (max-width: 992px) {
        width: 47%;
    }
    .row-direccion-row-1 {
        min-height: 195px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .row-direccion {
            display: flex;
            flex-direction: row;
            .row-direccion-etiqueta {
                min-width: 90px;
                width: 90px;
            }
        }
        .row-title {
            font-weight: bold;
            display: flex;
            flex-direction: column;
            margin-top: 0.3em;
            color: var(--color-font2);
            text-decoration: underline;
            hr {
                width: 100%;
                border-color: var(--color-font2);
                margin-top: 0em;
            }
        }
    }
}

.shop-success {
    padding: 1em;
    background: var(--color-background-white);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    h4 {
        color: #00a136;
    }
}

.shop-success h4 {
    color: #00a136;
}

.usuario-success {
    margin: 1em;
    margin-top: 3em;
    padding: 1em;
    background: var(--color-background-white);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
 
    h4 {
        text-align: center;
        color: #00a136;
    }
    p{
        text-align: center;
    }
}

.form-body-compras {
    width: 97%;
    margin: auto;
    background: var(--color-background-white);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: .875rem;
    min-height: 180px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    .form-body-accion {
        width: 100%;
        padding-top: 0.2em;
        padding-right: 0.5em;
        text-align: right;
    }
}

.tusCompras {
    .prod-filter-page {
        width: 98%;
        padding-top: 0.2em;
    }
}

.tuscompras-row-title {
    color: var(--color-font2);
    font-weight: bold;
    width: 120px;
    font-size: 12px;
}

.tuscompras-row-value {
    color: var( --color-font-default);
    width: 140px;
    font-weight: bold;
    font-size: 12px;
}

.tuscompras-row-content {
    border: solid 1px var(--color-background-contenido);
    margin: 0.5em;
    background-color: #f1f0f0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px 5px 5px 5px;
    .tuscompras-row {
        border-radius: 5px 5px 5px 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .tuscompras-row-detalle {
        min-height: 25px;
        margin: 0.5em;
        .form-body-detalle {
            margin-top: -10px;
            .form-body-detalle-header {
                text-align: right;
                margin-right: 2em;
                .btn {
                    padding: 2px;
                }
            }
            .form-body-detalle-body {
                overflow-x: auto;
                min-width: 180px;
                min-height: 70px;
                .div-table {
                    width: 98%;
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                    margin-top: 0.5em;
                    table {
                        width: 100%;
                        thead {
                            tr {
                                td {
                                    text-align: center;
                                    font-size: 0.8em;
                                    font-weight: bold;
                                    border: solid 0.5px var(--color-font2);
                                    color: var(--color-font3);
                                    background-color: var(--color-font2);
                                }
                            }
                        }
                        tbody {
                            font-size: 0.8em;
                            tr {
                                td {
                                    border: solid 0.5px var(--color-font2);
                                    font-size: 12px;
                                    a {
                                        color: var(--color-font-default);
                                    }
                                    i {
                                        cursor: pointer;
                                        font-size: 15px;
                                        color: var(--color-font-default);
                                    }
                                    i:hover {
                                        color: var(--color-font2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.row-confirmado div {
    background-color: #4fe157;
    color: var( --color-font1);
    width: 115px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.row-cancelado div {
    background-color: #ed3d68;
    color: var( --color-font1);
    width: 90px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.row-pendiente div {
    background-color: #ffb100;
    color: var( --color-font1);
    width: 90px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.row-procesando div {
    background-color: #4d8bff;
    color: var( --color-font1);
    width: 90px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.span-link-default {
    color: var(--color-font-default);
}

.span-link-select {
    color: var(--color-font-hover);
}

.label-flex {
    display: flex;
    justify-content: space-around;
}

.row-label-flex {
    width: 50%!important;
}

.row-label-flex-right {
    text-align: right;
}

.row-label-flex-left {
    text-align: left;
    justify-content: flex-end !important;
}

.row-label-flex-center {
    padding-left: 3em;
}

.label-registro-right {
    text-align: right;
}

.imput-registro-width {
    width: 60%!important;
    margin-right: 0.2em;
}

.imput-registro-width-l {
    width: 45%!important;
    margin-right: 0.2em;
}

.imput-registro-error {
    border: solid 1px #fc828c;
    box-shadow: 2px 2px 8px 0 rgba(252, 130, 140, 0.3);
    color: #fc828c;
}

.registro-error-display {
    color: red;
    margin-left: 0.9em;
}

.imput-registro-error::placeholder {
    color: #fc828c;
}

.imput-registro-width::placeholder {
    color: #fc828c;
}

.imput-registro-width-l::placeholder {
    color: #fc828c;
}

@media (min-width: 0px) and (max-width: 1100px) {
    .row-label-flex-right {
        text-align: left !important;
    }
    .row-label-flex-center {
        padding-left: 0em !important;
    }
}

@media (min-width: 801px) and (max-width: 1100px) {
    .form-body-cliente .form-select {
        width: 60% !important;
    }
}

@media (min-width: 200px) and (max-width: 800px) {
    .form-body-cliente .form-select {
        width: 92% !important;
    }
}

@media (min-width: 200px) and (max-width: 769px) {
    .action-row {
        flex-direction: column;
        text-align: left;
    }
}

@media (min-width: 576px) {
    .modal-sm {
        max-width: 340px;
    }
}

.modal-title-span {
    font-size: 0.7em;
}

.modal-title,
.h4 {
    font-size: 1.3rem;
}

.card-row-flex {
    display: flex;
    justify-content: space-between;
}

.fa-direccion-circulo {
    margin: 0em !important;
    padding: 0em !important;
    margin-right: 1em !important;
    border: solid 2px var(--color-arrow-active);
    display: flex;
    border-radius: 100%;
    width: 23px;
    height: 23px;
}

.fa-direccion-circulo-interno {
    margin: auto !important;
    padding: 0em !important;
    border: solid 1px var(--color-arrow-active);
    background-color: var(--color-arrow-active);
    justify-content: center;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}

.direcion-tipo {
    color: var(--color-font2);
    font-size: 15px;
    font-weight: bold;
}

.form-row-direccion-center {
    text-align: center;
}

.carrito-detalle-msg {
    font-weight: bold;
    margin-left: 0.0em;
    margin-right: 0.5em;
}

.carrito-detalle-msg a {
    color: #2fb5d2;
    outline: none;
    text-decoration: none;
}

.form-pago-item-direccion {
    color: var(--color-font-default);
    font-weight: bold;
    font-size: 1.1em;
    margin-right: auto;
    margin-left: 0.5em;
}


/*
15 mobil
95 mobil
117 destock
*/

.nav-span {
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-bottom: 0em;
    cursor: pointer;
    list-style: none;
    display: flex;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, ArialTFF, sans-serif;
    li {
        color: black;
        margin-left: 1.5em;
        margin-right: 0.5em;
        @media (min-width: 0px) and (max-width: 830px) {
            margin-left: 0.1em;
            margin-right: 2em;
            font-size: 15px;
        }
        @media (min-width: 831px) and (max-width: 992px) {
            margin-left: 0.1em;
            margin-right: 0.5em;
            font-size: 15px;
        }
        &:hover {
            color: var(--color-button-hover2);
            border-bottom: solid 1px var(--color-button-hover2);
        }
        ul {
            display: none;
            width: 260px;
            box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
            li {
                list-style: none;
                text-align: start;
                width: 250px;
                font-weight: none !important;
                font-size: 14px;
                margin-left: 0em;
                height: 25px;
                a {
                    color: var(--color-font);
                    text-decoration: none;
                    &:hover {
                        color: var(--color-button-hover2);
                    }
                }
                border-bottom: solid 1px #c9c7c7;
            }
        }
        .nav-span-filter-home {
            width: 172px;
            margin-top: 0.1em;
            li {
                list-style: none;
                text-align: start;
                width: auto;
                font-weight: none !important;
                font-size: 14px;
                height: 25px;
                color: var(--color-font-default);
                a {
                    color: var(--color-font);
                    text-decoration: none;
                    &:hover {
                        color: var(--color-button-hover2);
                    }
                }
                &:hover {
                    text-decoration: none;
                    color: var(--color-button-hover2);
                    border-bottom: solid 1px var(--color-button-hover2);
                }
                border-bottom: solid 1px #c9c7c7;
            }
        }
    }
}

.filter-row-mobile-menu,
.nav-span {
    li {
        @media (min-width: 0px) and (max-width: 830px) {
            margin-left: 0.1em;
            margin-right: 0.5em;
            font-size: 0.8em;
        }
    }
}

.filter-home {
    .nav-span {
        li {
            border-bottom: solid 1px white;
            &:hover {
                color: var(--color-button-hover2);
                border-bottom: solid 1px var(--color-button-hover2);
            }
        }
    }
}

.nav-span li:hover>ul {
    display: block;
    position: absolute;
    background: white;
    padding: 0px 0px 0px 0px;
    z-index: 999;
}

.filter-home-concecionario {
    color: var(--color-font-default);
    font-size: 0.85em;
    border-bottom: solid 1px white;
    @media (min-width: 200px) and (max-width: 992px) {
        border-bottom: solid 1px #f1f1f1;
    }
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.fa-peru {
    content: url('peru.png');
    height: 20px;
    width: 25px;
}

.produc-destacado-links {
    background-color: var( --color-background-white);
    padding-top: 1em;
    hr {
        margin-top: 0em !important;
        margin-bottom: 0em !important;
    }
}

.produc-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    div {
        width: 23%;
        min-height: 15%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-right: 0.5em;
        margin-left: 0.5em;
        padding-bottom: 0.4em;
        text-align: center;
        @media (min-width: 1000px) and (max-width: 1200px) {
            width: 30%;
        }
        @media (min-width: 0px) and (max-width: 999px) {
            width: 45%;
        }
        a {
            text-decoration: none;
            color: var(--color-font-default);
            &:hover {
                color: var(--color-button-hover2);
            }
            .produc-link-title {
                font-size: 1.2em;
                font-family: Arial, Helvetica, ArialTFF, sans-serif;
                color: var( --color-font);
            }
        }
        img {
            border: none;
            width: 99%;
            height: 230px;
            object-fit: contain;
        }
    }
}

.produc-link-accesorio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .produc-link-card {
        width: 48%;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        margin-right: 0.1em;
        margin-left: 0.1em;
        height: 200px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
    }
    .produc-link-accesorio-left {
        position: relative;
        width: 33.33%;
        height: 100%;
        padding-right: 10px;
        padding-left: 10px;
        background-color: rgba(255, 255, 255, .8);
        .title {
            color: #333;
            font-size: 14px;
            font-weight: bold;
            padding-top: 40px;
        }
        .content {
            font-size: 14px;
        }
    }
}

@media (min-width: 0px) and (max-width: 994px) {
    .produc-link-accesorio .produc-link-card {
        width: 98%;
    }
}

@media (min-width: 0px) and (max-width: 994px) {
    .produc-link-accesorio .produc-link-accesorio-left {
        width: 48%;
    }
}

.wspclass {
    background-color: transparent;
    display: inline-block;
    top: 92%;
    right: 9.2%;
    z-index: 100;
    position: fixed;
    border-radius: 2px;
    text-align: center;
    width: 57px;
    height: 47px;
    vertical-align: middle;
    padding: 1px;
    @media (min-width: 576px) {
        right: calc(((100% - 540px) / 2) + 43px);
    }
    @media (min-width: 999px) {
        right: calc(((100% - 720px) / 2) + 43px);
    }
    @media (min-width: 1199px) {
        right: calc(((100% - 930px) / 2) + 34px);
    }
    @media (min-width: 1200px) {
        right: calc(((100% - 1140px) / 2) + 64px);
    }
    @media (min-width: 1600px) {
        right: calc(((100% - 1340px) / 2) + 64px);
    }
    div {
        color: white;
        height: 30px;
        i {
            font-size: 26px;
            background-color: #25d366;
            height: 36px;
            width: 36px;
            border-radius: 100%;
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        p {
            color: var(--color-font-default);
            font-size: 12px;
            font-weight: bold;
        }
    }
    a {
        text-decoration: none;
    }
}

.prod-det-carrousel .carousel .slide {
    min-height: 268px !important;
    cursor: pointer;
    img {
        width: 100%;
        object-fit: contain;
        background-color: var(--color-background-white);
    }
}

.producto-zoom {
    position: absolute;
    z-index: 1000;
    height: 70%;
    width: 100%;
    top: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    cursor: pointer;
    float: left;
    left: 0px;
    .producto-zoom-content {
        border: solid 1px var(--color-font-disable);
        border-radius: 10px;
        width: 400px;
        min-height: 400px;
        background: var(--color-background-white);
        padding: 0.5em;
        .producto-zoom-header {
            padding: 0.4em;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-content: space-around;
            i {
                cursor: pointer;
            }
        }
        img {
            width: 100%;
            height: 94%;
            object-fit: contain;
        }
    }
}


/*
.carousel .slide img {
    height: 100%;
}
*/

.tbl-rpt-display {
    min-height: 360px;
    overflow-x: auto;
    max-height: 360px;
}

.outlet {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0.6rem;
    background: white;
    img {
        width: 100%;
        cursor: pointer;
        max-width: 90px;
    }
}

.outlet img {
    width: 100%;
}

@media (min-width: 200px) and (max-width: 800px) {
    .outlet {
        z-index: 2;
        position: absolute;
        right: 0;
        width: 20%;
        height: auto;
    }
    .outlet img {
        width: 100%;
    }
}

.form-row-option {
    display: flex;
    flex-direction: row;
    margin-left: 0.3em;
    label {
        width: auto !important;
        margin-bottom: 0;
        margin-right: 0.3em;
        font-style: italic;
    }
    input[type=checkbox] {
        font-size: 0.2em;
        text-align: left;
        margin-left: 0.2em;
        width: 15px !important;
        margin-right: 1em;
    }
}

.span-opcion {
    font-size: 12px;
}

.progres-container {
    flex-direction: column;
    width: 64%;
    input {
        width: 80% !important;
    }
    .progres-ui {
        height: 2px;
        margin: 0;
        margin-top: 2px;
    }
    .progres-ui-level0 {
        background-color: #d00;
        width: 20%;
    }
    .progres-ui-level1 {
        width: 40%;
        background-color: #f50;
    }
    .progres-ui-level2 {
        width: 60%;
        background-color: #ff0;
    }
    .progres-ui-level3 {
        width: 80%;
        background-color: #05b105;
    }
    .progres-ui-level4 {
        width: 100%;
        background-color: #0094f7;
    }
}

@media (min-width: 200px) and (max-width: 800px) {
    .progres-container {
        width: 100% !important;
    }
}

.form-body-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: solid 1px var(--color-font3);
    border-right: solid 1px var(--color-font3);
    border-bottom: solid 1px var(--color-font3);
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
    background-color: var(--color-font3);
    min-height: 320px;
    border-radius: 5px 5px 5px 5px;
    .div-table-head {
        margin: 0;
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        width: 98%;
        padding: 0;
        height: 25px;
        a {
            color: var(--color-font-default);
        }
        i {
            cursor: pointer;
            font-size: 15px;
            color: var(--color-font-default);
        }
        i:hover {
            color: var(--color-font2);
        }
    }
    .div-table {
        width: 98%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        table {
            width: 100%;
            thead {
                tr {
                    td {
                        text-align: center;
                        font-size: 0.8em;
                        font-weight: bold;
                        border: solid 0.5px var(--color-font2);
                        color: var(--color-font3);
                        background-color: var(--color-font2);
                    }
                }
            }
            tbody {
                font-size: 0.8em;
                tr {
                    td {
                        border: solid 0.5px var(--color-font2);
                        font-size: 12px;
                        a {
                            color: var(--color-font-default);
                        }
                        i {
                            cursor: pointer;
                            font-size: 15px;
                            color: var(--color-font-default);
                        }
                        i:hover {
                            color: var(--color-font2);
                        }
                    }
                }
            }
        }
    }
    .prod-filter-page {
        margin-top: 4px;
    }
}

.form-body-stock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: solid 1px var(--color-font3);
    border-right: solid 1px var(--color-font3);
    border-bottom: solid 1px var(--color-font3);
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
    background-color: var(--color-font3);
    min-height: 320px;
    border-radius: 5px 5px 5px 5px;
    .form-accion {
        display: flex;
        justify-content: flex-start;
        margin-top: 0.5em;
        input[type="file"] {
            width: 50%;
        }
        button {
            margin-left: 0.3em;
            width: 120px;
            padding-top: 0.275rem;
            padding-right: 0rem;
            padding-bottom: 0.275rem;
            padding-left: 0rem;
        }
        .btn-file {
            width: 180px;
        }
    }
    .div-table {
        width: 98%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        max-height: 321px;
        max-width: 1200px;
        min-width: 99%;
        min-height: 300px;
        table {
            width: 100%;
            thead {
                display: block;
                tr {
                    td {
                        text-align: center;
                        font-size: 0.8em;
                        font-weight: bold;
                        border: solid 0.5px var(--color-font3);
                        color: var(--color-font3);
                        background-color: var(--color-font2);
                        i {
                            width: 20px;
                            cursor: pointer;
                        }
                        .search {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            input {
                                width: 70%;
                                font-size: 12px;
                                height: 18px;
                                padding: 0.1em;
                            }
                        }
                    }
                }
            }
            tbody {
                font-size: 14px;
                height: 270px;
                overflow-y: auto;
                overflow-x: hidden;
                display: block;
                tr {
                    height: 28px;
                    td {
                        border: solid 0.5px var(--color-font2);
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.form-body-stock {
    .div-table-foot {
        .div-table-foot-text {
            text-align: center;
            font-size: 0.8em;
            font-weight: bold;
            border: solid 0.5px var(--color-font3);
            color: var(--color-font3);
            background-color: var(--color-font2);
            margin: 0.3em;
            margin-right: 1.8em;
        }
    }
}

.td_number {
    text-align: right;
}

.form-body-correo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: solid 1px var(--color-font3);
    border-right: solid 1px var(--color-font3);
    border-bottom: solid 1px var(--color-font3);
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
    background-color: var(--color-font3);
    min-height: 320px;
    border-radius: 5px 5px 5px 5px;
    .div-table-head {
        margin: 0;
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
        width: 98%;
        padding: 0;
        height: 25px;
        a {
            color: var(--color-font-default);
        }
        i {
            cursor: pointer;
            font-size: 15px;
            color: var(--color-font-default);
        }
        i:hover {
            color: var(--color-font2);
        }
    }
    .div-table {
        width: 98%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        table {
            width: 100%;
            thead {
                tr {
                    td {
                        text-align: center;
                        font-size: 0.8em;
                        font-weight: bold;
                        border: solid 0.5px var(--color-font2);
                        color: var(--color-font3);
                        background-color: var(--color-font2);
                    }
                }
            }
            tbody {
                font-size: 0.8em;
                tr {
                    td {
                        border: solid 0.5px var(--color-font2);
                        font-size: 12px;
                        a {
                            color: var(--color-font-default);
                        }
                        i {
                            cursor: pointer;
                            font-size: 15px;
                            color: var(--color-font-default);
                        }
                        i:hover {
                            color: var(--color-font2);
                        }
                    }
                }
            }
        }
    }
}

.div-form-correo {
    .div-form-correo-row {
        display: flex;
        flex-wrap: wrap;
        .label-vchCorreo {
            width: 15%;
            margin-right: 0.5em;
        }
        input[type=checkbox] {
            font-size: 0.2em;
            text-align: left;
            margin-left: 1em;
            margin-top: 4px;
            width: 15px !important;
            margin-right: 1em;
        }
    }
}

.producto-mensaje-stock {
    color: var(--color-font7);
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker__navigation-icon--previous {
    right: 20px !important;
    margin-top: 14px !important;
}

.react-datepicker__navigation-icon--next {
    left: 20px !important;
    margin-top: 14px !important;
}

.form-body-reporte {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: solid 1px var(--color-font3);
    border-right: solid 1px var(--color-font3);
    border-bottom: solid 1px var(--color-font3);
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
    background-color: var(--color-font3);
    min-height: 320px;
    border-radius: 5px 5px 5px 5px;
    .form-accion {
        display: flex;
        justify-content: flex-start;
        height: 35px;
        margin-bottom: 4px;
        margin-top: 4px;
        button {
            margin-left: 1em;
            width: 120px;
        }
        label {
            width: 12%;
        }
        input {
            width: 100px;
        }
        .div-datepicker {
            width: 20%;
            height: 25px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .div-table {
        width: 98%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        max-height: 300px;
        max-width: 1200px;
        min-width: 99%;
        min-height: 300px;
        overflow-x: auto;
        table {
            width: 100%;
            thead {
                tr {
                    td {
                        text-align: center;
                        font-size: 12px;
                        font-weight: bold;
                        border: solid 0.5px var(--color-font2);
                        color: var(--color-font3);
                        background-color: var(--color-font2);
                    }
                }
            }
            tbody {
                font-size: 0.8em;
                tr {
                    td {
                        border: solid 0.5px var(--color-font2);
                        font-size: 12px;
                        .span-link-pdf {
                            color: var(--color-font2);
                            font-size: 12px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.producto-outlet {
    min-height: 250px;
    background-color: var(--color-background-white);
    .table-outlet {
        font-size: 13px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        thead {
            tr {
                border: solid 1px var(--color-font2);
                background-color: var(--color-font2);
                text-align: center;
                .td-codigo {
                    width: 12%;
                    border-right: solid 1px var(--color-font3);
                    .td-codigo-div {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: space-around;
                        input {
                            width: 90%;
                        }
                    }
                }
                .td-dsct {
                    width: 12%;
                    border-left: solid 1px var(--color-font3);
                    .td-producto-div {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: space-around;
                        input {
                            width: 90%;
                        }
                    }
                }
                .td-producto {
                    margin-left: 3px;
                    border-left: solid 1px var(--color-font3);
                    .td-producto-div {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: space-around;
                        input {
                            width: 80%;
                        }
                    }
                }
                .td-precio {
                    width: 6%;
                    border-left: solid 1px var(--color-font3);
                    .td-producto-div {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: space-around;
                    }
                }
                .td-stock {
                    width: 5%;
                    border-left: solid 1px var(--color-font3);
                    .td-producto-div {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: space-around;
                    }
                }
                td {
                    font-weight: bold;
                    color: var(--color-font3);
                }
            }
        }
        tbody {
            font-size: 1.3em;
            @media (max-width: 490px) {
                font-size: 0.7em;
            }
            .td-codigo {
                width: 10%;
                span {
                    margin-left: 5px;
                    a:hover {
                        text-decoration: none;
                        color: var(--color-font2);
                    }
                }
            }
            .td-producto {
                width: 100px;
                @media (max-width: 490px) {
                    font-size: 1.2em;
                }
                span {
                    margin-left: 5px;
                }
                .td-producto-div-desc {
                    background-color: #ffffff;
                    width: 98%;
                    height: 90%;
                    margin: auto;
                    .td-producto-div-desc-porc {
                        background-color: var(--color-font2);
                        text-align: left;
                        background-image: linear-gradient(to right, rgba(202, 219, 237, 0), rgba(169, 196, 237, 1));
                        color: var(--color-font3);
                        min-width: 30px !important;
                    }
                }
            }
            .td-dsct {
                width: 10%;
                @media (max-width: 490px) {
                    font-size: 1.2em;
                }
                span {
                    margin-left: 5px;
                }
                .td-producto-div-desc {
                    background-color: #ffffff;
                    width: 98%;
                    height: 90%;
                    margin: auto;
                    .td-producto-div-desc-porc {
                        background-color: var(--color-font2);
                        text-align: left;
                        background-image: linear-gradient(to right, rgba(202, 219, 237, 0), rgba(169, 196, 237, 1));
                        color: var(--color-font3);
                        min-width: 30px !important;
                        height: 100%;
                    }
                    .td-producto-div-desc-porc-text {
                        position: relative;
                        z-index: 2;
                        margin-left: 0.8em;
                        margin-top: -1.5em;
                    }
                }
            }
            .td-precio {
                width: 6%;
                color: #c85055;
                font-weight: bold;
                @media (max-width: 490px) {
                    font-size: 1.2em;
                }
                .td-precio-simbolo {
                    margin-left: 5px;
                }
                .td-precio-valor {
                    margin-right: 5px;
                    float: right;
                }
            }
            .td-stock {
                width: 5%;
                text-align: center;
            }
            td {
                border: solid 1px var(--color-font2);
            }
        }
    }
    .prod-filter-page {
        margin-top: 6px;
    }
    h4 {
        font-size: 20px;
        padding-top: 0.5em;
    }
}

.registrar-stock {
    h3 {
        font-size: 22px;
        font-weight: normal;
        padding-top: 0.5em;
    }
}

.container-Carousel-list {
    position: relative;
    max-width: 1580px;
}

.suscripcion-message {
    text-align: center;
}

.producto-det-row2 .producto-det-row2-social {
    &:nth-child(2) {
        margin-bottom: 1em;
    }
}

.form-body-outlet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: solid 1px var(--color-font3);
    border-right: solid 1px var(--color-font3);
    border-bottom: solid 1px var(--color-font3);
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 1em;
    background-color: var(--color-font3);
    min-height: 320px;
    border-radius: 5px 5px 5px 5px;
    .form-accion {
        margin: 0.5em;
        display: flex;
        justify-content: flex-end;
        a {
            cursor: pointer;
            font-size: 15px;
            color: var(--color-font-default);
            &:hover {
                color: var(--color-font-hover);
                text-decoration: none;
            }
        }
    }
    .div-table {
        width: 98%;
        margin-left: 0.5em;
        margin-right: 0.5em;
        max-height: 300px;
        max-width: 1200px;
        min-width: 99%;
        min-height: 300px;
        overflow-x: auto;
        table {
            width: 100%;
            thead {
                tr {
                    td {
                        text-align: center;
                        font-size: 12px;
                        font-weight: bold;
                        border: solid 0.5px var(--color-font2);
                        color: var(--color-font3);
                        background-color: var(--color-font2);
                    }
                }
            }
            tbody {
                font-size: 0.8em;
                tr {
                    td {
                        border: solid 0.5px var(--color-font2);
                        font-size: 12px;
                        text-align: center;
                        i {
                            font-size: 15px;
                            color: var(--color-font-default);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.clsbutton {
    width: 130px !important;
}

.onState {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #05b105;
    border-color: #05b105;
    border: none;
}

.offState {
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #d00;
    border-color: #d00;
    border: none;
}

.inner-header {
    display: flex;
    .filter-home-emp-nombre {
        font-family: EurostileExtended;
        font-weight: bold;
        font-size: 14px;
        color: var(--color-background-Gray);
    }
    .filter-home-emp-sociedad {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9px;
        color: var(--color-background-Gray);
    }
    @media (min-width: 993px) and (max-width: 1200px) {
        .fa-peru {
            display: none;
        }
    }
}

.filter-row-mobile-menu {
    flex-direction: row;
    justify-content: space-between !important;
    .inner-header {
        .nav-span {
            font-size: 13px;
            ul {
                width: 150px;
                margin-top: 0.1em;
                margin-left: -4em;
            }
        }
        .filter-home-emp-nombre {
            font-size: 11px;
        }
        i {
            @media (max-width: 500px) {
                display: none;
                width: 0px;
            }
        }
    }
}

.btn-edit-action {
    cursor: pointer;
    height: 15px;
    color: #0000ff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    div {
        border-bottom: 1px solid #0000ff;
        height: 100%;
        width: 80%;
    }
}

.outlet-cell-edit {
    input {
        width: 60%;
        margin-right: 2px;
        font-size: 12px;
        text-align: center;
    }
    i {
        vertical-align: text-top;
        font-size: 17px;
        cursor: pointer;
        &:hover {
            color: var(--color-arrow-active);
        }
    }
}

.div-text-type-nota {
    font-size: 1em;
    background-color: #ffffff;
    padding-left: 1em;
    color: #C85055;
    padding-bottom: 0.5em;
    .div-text-type-nota-resaltado {
        margin-bottom: 2px;
        font-weight: bold;
        text-decoration: underline;
    }
    ul {
        list-style: decimal;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        li {
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }
    }
}

.div-text-type-nota-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0.5em;
}