*:focus {
    outline: none;
}

.test-content {
    font-family: EurostileExtended;
    font-size: 14px;
    width: 100%;
    min-height: 200px;
    background: #fbfbfb;
    .test-content-text {
        min-height: 200px;
        min-width: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        .filter-home-concecionario {
            font-weight: bold;
            font-size: 14px;
        }
        .filter-home-emp-sociedad {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 9px;
            color: var(--color-background-Gray);
        }
    }
    .test-content-form {
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        border-bottom: 1px inset rgb(202, 96, 96);
        .form-row {
            display: flex;
            flex-direction: row;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
            .form-row-label {
                min-width: 100px;
                font-weight: bold;
                color: #2fb5d2;
            }
            .form-row-input {
                width: auto;
                input {
                    border: solid 1px grey;
                    border-radius: 5px 5px 5px 5px;
                    padding: 2px 2px 2px 2px;
                    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
                    &:focus {
                        background: #fff;
                        border: 1px solid #555;
                        box-shadow: 0 0 3px #aaa
                    }
                    &:focus:invalid {
                        border-color: #b03535;
                    }
                    &:focus:valid {
                        border-color: #28921f;
                        background: #fff url('../ckeck.png') no-repeat 98% center;
                        background-size: 15px 15px;
                    }
                }
                 ::-moz-placeholder {
                    color: blue;
                }
                 ::-webkit-input-placeholder {
                    color: blue;
                }
            }
            .form-row-action {
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 30%;
                flex-wrap: nowrap;
                button[type='submit'] {
                    background-color: #68b12f;
                    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
                    background: -webkit-linear-gradient(top, #68b12f, #50911e);
                    background: -moz-linear-gradient(top, #68b12f, #50911e);
                    background: -ms-linear-gradient(top, #68b12f, #50911e);
                    background: -o-linear-gradient(top, #68b12f, #50911e);
                    background: linear-gradient(to top, #68b12f, #50911e);
                    border: 1px solid #509111;
                    border-bottom: 1px solid #5b992b;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    box-shadow: inset 0 1px 0 0 #9fd574;
                    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
                    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
                    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
                    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
                    color: white;
                    font-weight: bold;
                    padding: 6px 20px;
                    text-align: center;
                    text-shadow: 0 -1px 0 #396715;
                    &:hover {
                        opacity: .85;
                        cursor: pointer;
                    }
                    &:active {
                        border: 1px solid #20911e;
                        box-shadow: 0 0 10px 5px #356b0b inset;
                        -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
                        -moz-box-shadow: 0 0 10px 5px #356b0b inset;
                        -ms-box-shadow: 0 0 10px 5px #356b0b inset;
                        -o-box-shadow: 0 0 10px 5px #356b0b inset;
                    }
                }
            }
        }
    }
}