// Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//Variables
@import "./styles/utils/variables";
// Layou Original
@import "./styles/layout/style-shop";
@import "./styles/layout/header";
// pages
@import "./styles/pages/home";
@import "./styles/pages/detail";
@import "./styles/pages/login";
//josue 
@import "./css/style-add.css";
@import "./styles/others/othersClass";
@media (min-width: 1600px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1340px;
    }
}